@import 'normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$red: #E5261E;
$font: 'Rubik', sans-serif;

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  margin-top: 32px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  
  &__text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: $font;
  }
}

.search-form {
  display: flex;
  width: 475px;
  font-size: 16px;
  font-weight: 400;
  font-family: $font;
  box-sizing: border-box;
  
  &__input {
    width: 320px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #333;

    &:active, &:focus {
      outline:none;
    }

  }

  &__button {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: $red;
    padding: 0;
    width: 50px;
    margin-left: 30px;
    cursor: pointer;
  }
}

.sing-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 113px;
  border-radius: 4px;
  background-color: $red;
  text-decoration: none;
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #fff;

  &:hover {
    background-color: #CC221B;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-around;
  
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;

  &__title {
    cursor: pointer;

    &_active {
      position: relative;
      color: $red;

      &::after {
        content: "";
        width: 100%;
        border-bottom: 2px solid #e5261e;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-top: 10px;
      }
    }
  }
}

.content {
  display: none;
}

.content_active {
  display: block;
}

.new {
  // display: grid;
  // grid-template-columns: repeat(4, 280px);
  // grid-template-rows: 2fr;
  // column-gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;
  align-items: center;

  &__title {
    // grid-column: 1 / span 4;
    font-family: $font;
    font-weight: 500;
    font-size: 24px;
    margin: 18px 0;
    align-self: flex-start;
  }
}

.new__preview-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1180px;
  width: 100%;
  // justify-content: space-between;
}

.preview {
  display: flex;
  flex-direction: column;
  // gap: 15px;
  transition: all 0.25s ease;
  margin-right: 20px;
  &_last {
    margin: 0;
  }
  // box-sizing: border-box;

  &__img-box {
    position: relative;
    max-width: 280px;
    cursor: pointer;
    margin-bottom: 16px;

    &::after {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease;
      opacity: 0;
    }

    &:hover::after {
      background: #333333;
      opacity: 0.8;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
  }

  &__description {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    margin: 0;
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #F2F2F2;
    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateY(50%);

    &_hover {
      z-index: 3;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    font-family: $font;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    z-index: 5;
    max-width: 280px;
  }
}

.genres {
  // display: grid;
  // grid-template-columns: repeat(4, 280px);
  // grid-template-rows: 2fr;
  // column-gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;
  align-items: center;
  margin-top: 12px;

  &__title {
    grid-column: 1 / span 4;
    font-family: $font;
    font-weight: 500;
    font-size: 24px;
  }
}

.genre {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 208px;
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;

  &_comedy {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
  }

  &_drama {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
  }

  &_fantasy {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
  }

  &_horror {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }
  
  &__emoji {
    font-size: 48px;
  }

  &__title {
    position: absolute;
    bottom: 0;
    font-family: $font;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #F2F2F2;
  font-family: $font;

  &__container {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    width: 100%;
    height: 120px;
    align-items: center;
  }

  &__logo {
    margin-right: 40px;
  }

  &__contacts-box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    box-sizing: border-box;
  }

  &__contacts {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    margin: 0;
    margin-bottom: 6px;
  }

  &__link {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
  }
}