@import 'normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$red: #E5261E;
$font: 'Rubik', sans-serif;

html {
  font-family: $font;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  margin-top: 32px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  
  &__text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: $font;
  }
}

.search-form {
  display: flex;
  width: 475px;
  font-size: 16px;
  font-weight: 400;
  font-family: $font;
  box-sizing: border-box;
  
  &__input {
    width: 320px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #333;

    &:active, &:focus {
      outline:none;
    }

  }

  &__button {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: $red;
    padding: 0;
    width: 50px;
    margin-left: 30px;
    cursor: pointer;

    &:hover {
      color: #CC221B;
    }
  }
}

.sing-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 113px;
  border-radius: 4px;
  background-color: $red;
  text-decoration: none;
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0;

  &:hover {
    background-color: #CC221B;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // flex-grow: 5;
  flex: 1 1 auto;
  justify-content: space-around;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  flex-direction: row;
  // gap: 25px;
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;
  box-sizing: border-box;

  &__title {
    cursor: pointer;

    &:first-child {
      margin-right: 25px;
    }

    &_active {
      position: relative;
      color: $red;

      &::after {
        content: "";
        width: 100%;
        border-bottom: 2px solid #e5261e;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-top: 10px;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  width: 100%;
}

.content {
  display: none;

  &_active {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }
}

.new {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;
  align-items: center;

  &__title {
    font-family: $font;
    font-weight: 500;
    font-size: 24px;
    margin: 18px 0;
    align-self: flex-start;
  }
}

.new__preview-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1180px;
  width: 100%;
}

.preview {
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease;
  margin-right: 20px;
  &_last {
    margin: 0;
  }

  &__img-box {
    position: relative;
    max-width: 280px;
    cursor: pointer;
    margin-bottom: 16px;

    &::after {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease;
      opacity: 0;
    }

    &:hover::after {
      background: #333333;
      opacity: 0.8;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
  }

  &__description {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    margin: 0;
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #F2F2F2;
    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateY(50%);

    &_hover {
      z-index: 3;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    font-family: $font;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    z-index: 5;
    max-width: 280px;
  }
}

.genres {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;
  align-items: center;
  margin-top: 12px;

  &__title {
    grid-column: 1 / span 4;
    font-family: $font;
    font-weight: 500;
    font-size: 24px;
  }
}

.genre {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 208px;
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;

  &_comedy {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
  }

  &_drama {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
  }

  &_fantasy {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
  }

  &_horror {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }
  
  &__emoji {
    font-size: 48px;
  }

  &__title {
    position: absolute;
    bottom: 0;
    font-family: $font;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #F2F2F2;
  font-family: $font;

  &__container {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    width: 100%;
    height: 120px;
    align-items: center;
  }

  &__logo {
    margin-right: 40px;
  }

  &__contacts-box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    box-sizing: border-box;
  }

  &__contacts {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    margin: 0;
    margin-bottom: 6px;
  }

  &__link {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
  }
}

// Телеканалы
.content:last-child {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - (370px));
  scrollbar-color: #BDBDBD #F2F2F2;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F2F2F2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 2px;
  }
}

.chanel-box {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 10px;

  &__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__telecast {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;

    &_active {
      color: $red;
    }
  }

  &__time {
    margin-right: 16px;
  }
}

// модальное окно

.modal-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  transition: all 0.5s ease-out;
  transform: translateY(-100%);

  z-index: -2;
  opacity: 0;
  visibility: hidden;

  &_active {
    transform: translateY(0%);
    z-index: 20;
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 394px;
  width: 304px;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  z-index: 99;
  padding: 36px;

  &__title {
    font-weight: 500;
    font-size: 28px;
    color: #333333;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
  }

  &__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #333333;
    width: 230px;
    height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    &:active, &:focus {
      outline:none;
    }
  }
  
}

.checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  &__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked ~ * .checkbox-box__checked {
      fill: #E5261E;
    }

    &:focus ~ * .checkbox-box__svg {
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
  }

  &__svg {
    position: absolute;
    fill: none;
  }

  &__label {
    padding-left: 26px;
    z-index: 5;
    user-select: none;
  }
}

.sing-in_modal {
  align-self: center;
  margin-top: auto;
}